.container {
  background-color: #eee;
}
.container-2 {
  background-color: #eee;
  max-width: 1000px; /*最大幅を固定*/
  margin-left: auto;
  margin-right: auto;
}
.container-3 {
  background-color: #eee;
  max-width: 1000px; /*最大幅を固定*/
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%; /*画像自体の物理的な幅まで広がる*/
  /* width: 100%;  */ /*画像自体の物理的な幅を超えて、親要素の幅いっぱいまで広がる*/
  height: auto;
}

.row {
  display: flex;
}
.col2 {
  width: 50%;
  border: 1px dashed #999;
}

.row2 {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  outline: 1px dashed #999;
}

.col2-2 {
  /* 子要素のサイズ　/ 親要素のcontent-boxのサイズ * 100% */
  width: calc((300 / 640) * 100%);
  background: #e7e7e7;
}

.row3 {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.col2 {
  width: 50%;
  border: 1px dashed #999;
}

.row2 {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  outline: 1px dashed #999;
}

.col2-2 {
  /* 子要素のサイズ　/ 親要素のcontent-boxのサイズ * 100% */
  width: calc((300 / 640) * 100%);
  background: #e7e7e7;
}

.row3 {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  outline: 1px dashed #999;
}

.col2-2 {
  /* 親640 padding 左右20 段落の間20 640-60 / 2 = 290  */
  width: calc((290 / 600) * 100%);
}

/* モバイルファースト */
/* 全てのデバイス向け　SP用のスタイル */
/* +は隣接兄弟セレクタ　モバイルファースト2とモバイルファースト3に適用される */
/* 前の要素と直後の要素が同じ親要素内で兄弟関係にあり、すぐに隣接している場合にマッチ */
.cardList__item + .cardList__item {
  margin-top: 30px;
}

/* PC用のスタイル　画面幅が768px以上の時に適用 */
/* printは印刷用。ないとモバイル用のレイアウトで出力される */
/* モバイルファーストの場合、ブレイクポイントを複数持たせる場合は値が小さい方から順に上書きされるように記述する。この記述の下に768px以上の記述を書く */
@media screen and (min-width: 768px), print {
  .cardList {
    display: flex;
    justify-content: space-between;
  }

  .cardList__item {
    width: calc((100%) / 3);
  }

  .cardList__item + .cardList__item {
    margin-top: 0;
  }
}

.case{
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #e7e7e7;
}
.case-item{
  margin: 30px 0;
}
.case-item * + * {
  margin-top: 15px;
}
.fz12{
  font-size: 12px;
}
.fz16{
  font-size: 16px;
}
/* 親要素に指定または、継承されている文字サイズを基準 */
/* 1em=12pxにも1em=16pxにもなりうる */
.indent-1{
  text-indent: 1em;
}